*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
}

.container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    border: none;
    border-radius: 25px;
    flex-basis: 400px;
    padding: 50px 0;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 5px 10px 10px rgba(255, 255, 255, 0.6);
    /* animation: 1s ease-in 1 linear ; */
    animation: 1s ease-in 1 zoom;
}

@keyframes zoom{
    from{
        transform: scale(0.1, 0.1);
    }
    to{
        transform: scale(1, 1);
    }
}

#mail-button{
    background-color: chocolate;
    color: rgb(253, 246, 237);
}

#dadi-button{
    background-color: deepskyblue;
    color: rgb(233, 250, 255);
}

#mail-button:hover{
    background-color: rgb(224, 137, 75);
}

#dadi-button:hover{
    background-color: rgb(91, 213, 253);
}

#mail-button:hover,
#dadi-button:hover{
    cursor: pointer;
    color: rgb(97, 97, 97);
    transition: all 500ms;
}
